.pinimage{
  max-width: 100%
}

.pincontainer {
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}

.pincontent{
  color: #333;
  font-size: 13px;
  line-height: 17px;
  word-wrap: break-word;
  margin: 5px;
  margin-left: 15px;
  margin-right: 15px
}

.user {
    border-top: 1px solid;
    border-color: #e7e7e7;
}

.userimage{
  max-width: 100%;
}

.userimagecontainer{
  width:40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin: 15px;
  float: left;
}

.usertext{
  display:inline-block;
  margin-top: 15px;
}

.name{
  color:#999;
}

.board{
  color: #717171;
  font-weight: bold;
}

.main{
  background-color: #E9E9E9;
  padding: 20px;
}